@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 102 53% 94%;
    --foreground: 224 71% 4%;
    --card: 102 53% 94%;
    --card-foreground: 224 71% 4%;
    --popover: 102 53% 94%;
    --popover-foreground: 224 71% 4%;
    --primary: 356 78% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 102 40% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 102 40% 88%;
    --muted-foreground: 224 40% 30%;
    --accent: 181 44% 80%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 102 20% 80%;
    --input: 102 20% 85%;
    --ring: 356 78% 56%;
    --radius: 0.5rem;

    --chart-1: 356 78% 56%;
    --chart-2: 181 44% 60%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 220 70% 50%;
    
    --sidebar-background: 102 53% 91%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 356 78% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 102 53% 94%;
    --sidebar-accent-foreground: 356 78% 56%;
    --sidebar-border: 102 20% 80%;
    --sidebar-ring: 356 78% 56%;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 102 53% 94%;
    --card: 224 71% 4%;
    --card-foreground: 102 53% 94%;
    --popover: 224 71% 4%;
    --popover-foreground: 102 53% 94%;
    --primary: 356 78% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 102 53% 94%;
    --muted: 224 71% 10%;
    --muted-foreground: 102 40% 70%;
    --accent: 181 44% 20%;
    --accent-foreground: 102 53% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 356 78% 56%;

    --chart-1: 356 78% 56%;
    --chart-2: 181 44% 60%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 280 65% 60%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 102 53% 94%;
    --sidebar-primary: 356 78% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 356 78% 56%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 356 78% 56%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
